<div class="search-container">
  <div class="search-block">
    <input type="text" class="search-input" placeholder="Filter by title..." [(ngModel)]="title" (input)="onSearch()">
  </div>
</div>
<div class="news-container">
  <mat-card (click)="onSelect(news.title)" class="news-card" *ngFor="let news of pagedItems">
    <mat-card-header>
      <mat-card-title>{{news.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{news.urlToImage}}"
         alt="cover">
    <mat-card-content>
      <p>
        {{news.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
<div class="pagination">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination-list">
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
  </ul>
</div>
